.benefits {
  padding: 60px 0;
  @media screen and (min-width:1200px) {
    padding: 94px 0;
  }
}

.benefits-list {
  &__icon {
  @include flex(flex, center, center);
  height: 120px;
  background-color: var(--btn-bg);
  margin-bottom: 30px;
}
  &__title {
  @include font(null, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
  &__text {
  @include font(null, 14px, 1.71, 0.03em);
  color: var(--secondary-grey);
}

@media screen and (min-width: 768px) {
  @include flex(flex, null, null);
  flex-wrap: wrap;
  gap: 30px;
  }
}

.benefits-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.benefits-list__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 1*30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3*30px) / 4);
  }
}