.customers {
  padding-top: 60px;
  &__title {
    @include font(700, 28px, 1.17, 0.03em);
    text-align: center;
    color: var(--primary-grey-dark);
    margin-bottom: 30px;   
  }

  @media screen and (min-width:1200px) {
    padding-top: 94px;
  }

}

.customers-list {
  @include flex(flex, null, center);
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 60px;

  &__img {
    fill: currentColor;
  }

  &__item {
    @include size(210px, 92px);

    @media screen and (min-width:768px) {
      @include size(226px, 92px);
    }

    @media screen and (min-width:1200px) {
      @include size(170px, 92px);
    }
  }

  @media screen and (min-width:1200px) {
    padding-top: 94px;
  }
}

.customers-list__link {
  @include flex(flex, center, center);
  @include size(100%, 100%);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: border 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    border: 1px solid var(--current-active);
    color: var(--current-active);
  }
}
