.customers {
  padding-top: 60px;

  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    @include font(700, 28px, 1.17, 0.03em);
    text-align: center;
    color: var(--primary-grey-dark);
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
      @include font(700, 36px, 1.16, 0.03em);
      margin-bottom: 50px;
    }
  }
}

.customers-list {
  @include flex(flex, null, center);
  gap: 30px;
  flex-wrap: wrap;

  &__img {
    fill: currentColor;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 5 * 30px) / 6);
    }
  }
}

.customers-list__link {
  @include flex(flex, center, center);
  @include size(100%, 100%);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: border 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    border: 1px solid var(--current-active);
    color: var(--current-active);
  }
}
