.page-footer {
  background: var(--hero-bg);
  padding: 60px 0;
  &__container {
    @media screen and (min-width: 1200px) {
    @include flex(flex, baseline, null);
    gap: 93px;
    }
  }
}

.page-footer__wrapper {
  @media screen and (min-width: 768px) {
    @include flex(flex, baseline, center);
    flex-wrap: wrap;
    gap: 165px;
  }

  @media screen and (min-width: 1200px) {
    gap: 93px;
  }
}

.footer__logo {
  @include font(null, 24px, 1.16, 0.03em);
  display: block;
  text-align: center;
  font-family: var(--ff-raleway);
  color: var(--color-white);
  margin-bottom: 28px;

  @media screen and (min-width: 1200px) {
    @include font(null, 26px, 1.19, 0.03em);
    text-align: start;
  }
}

.footer-address {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-list__maps {
  color: var(--color-white);
}

.footer-list__maps,
.footer-list__mail,
.footer-list__tel {
  @include font(null, 14px, 1.71, 0.03em);
  font-style: normal;
  transition: color 250ms var(--cubic-bezier);
}

.footer-list__mail,
.footer-list__tel {
  display: block;
  margin-top: 2px;
  color: var(--footer-item-link);
}

.footer-list__mail:hover,
.footer-list__tel:hover,
.footer-list__maps:hover {
  color: var(--current-active);
}

.footer-list__mail:focus,
.footer-list__tel:focus,
.footer-list__maps:focus {
  color: var(--current-active);
}

.footer-link {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    text-align: center;
  }
}

.footer-icons {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.footer-icons__title,
.footer-link__text {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-link__text {
  margin-bottom: 20px;
}

.footer__desc {
  @include font(null, null, 0.86, 0.03em);
  color: var(--current-active);
}

.team-icons__link--bg {
  background-color: var(--icons-bg);
}

.footer-form {
  text-align: center;
  
  @media screen and (min-width: 1200px) {
    @include flex(flex, null, null);
  }
}

.footer-form__email {
  max-width: 450px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid var(--footer-form-email);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-white);
  transition: border 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
  &:focus {
    border: 1px solid var(--current-active);
    outline: var(--current-active);
  }
  &:placeholder {
    @include font(null, 16px, 1.25, 0.03em);
    color: var(--footer-item-link);
  }

  @media screen and(min-width:1200px) {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
}

.footer-form__btn {
  @include flex(flex, center, center);
  @include size(200px, 50px);
  @include font(700, 16px, 1.88, 0.06em);
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--current-active);
  box-shadow: 0px 4px 4px var(--footer-btn);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: background-color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    background-color: var(--current-btn);
  }
}

.footer-form__img {
  margin-left: 10px;
}
