.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border);
  @media screen and(max-width:767px) {
    padding: 10px 0;
  }
}

.header__logo {
  @include font(null, 24px, 1.166, 0.03em);
  font-family: var(--ff-raleway);
  color: var(--logo-color-black);
  @media screen and (min-width:1200px){
    @include font(null, 26px, 1.19, 0.03em);
  }
}

.header__desc {
  @include font(null, null, 0.86, 0.03em);
  color: var(--current-active);
}

.header__button {
  @extend %btn;
  display: flex;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__container,
.site-nav,
.login {
  @include flex(flex, center, null);
}


.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  background-color: var(--color-white);
  padding: 10px 15px 48px 48px;
  overflow: auto;

  // @media screen and (max-width:767px) {
  //   display:none;
  // }
    
  }


.mobile-menu__close {
  @extend %btn;
  display: block;
  margin-left: auto;
}

.menu-mobile__link {
  @include font(500, 40px, 1.175, 0.02em);
  color: var(--primary-grey-dark);
}

.menu-mobile__item,
.login-mobile__nav:not(:first-child) {
  margin-bottom: 32px;
}

.menu-mobile__link--current {
  color: var(--current-active);
}

.login-mobile {
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  margin-bottom: 64px;
}

.login-mobile__link {
  @include flex(flex, center, null);
  @include font(500, 24px, 1.166, 0.02em);
  color: var(--secondary-grey);
  &:hover,
  &:hover {
    color: var(--current-active);
  }
}

.login-mobile__link--current {
  @include font(500, 34px, 1.176, 0.02em);
  color: var(--current-active);
}

.login-mobile__icon {
  display: none;
}

.social {
  @include flex(flex, center, flex-start);
  gap: 20px;
}

.social-nav {
  position: relative;
}

.social-nav__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--current-active);
}

.social-nav:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -22px;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
} 


.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 88px;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__link,
.login-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}


.site-nav__link {
  @include font(500, 14px, 1.14, 0.02em);
  display: inline-block;
  padding: 32px 0;
  color: var(--primary-grey-dark);
  &:focus,
  &:focus {
    color: var(--current-active);
  }
}

.site-nav__link--current {
  color: var(--current-active);
}

.site-nav__item {
  position: relative;
  .site-nav &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link--current::after {
  @include size(100%, 4px);
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background: var(--current-active);
  border-radius: 2px;
}

.login {
 display: none;

 @media screen and (min-width: 768px) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }

 @media screen and (min-width: 1200px) {
  flex-direction: row;
 }
}

.login-nav__link {
  @include font(500, 12px, 1.16, 0.02em);

  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 1.14, 0.02em);
  }
}

.login-nav:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
   }
   @media screen and (min-width: 1200px) {
    margin-right: 31px;
   }
}

.login-nav__link {
  @include flex(flex, center, null);
  color: var(--secondary-grey);
  &:hover,
  &:hover {
    color: var(--current-active);
  }
}

.login-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
 
