.page-header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  @include font(null, 24px, 1.166, 0.03em);
  font-family: var(--ff-raleway);
  color: var(--logo-color-black);
}
.header__desc {
  @include font(null, null, 0.86, 0.03em);
  color: var(--current-active);
}

.header__btn {
  @extend %btn;
  display: inline-flex;
}

.menu-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 10px 15px 48px 48px;
  overflow: scroll;
}

.menu-navigation__btn {
  @extend %btn;
  display: block;
  margin-left: auto;
}

.site-nav {
  margin-bottom: 306px;  
}

.site-nav__link {
  @include font(500, 40px, 1.175, 0.02em);
  color: var(--primary-grey-dark);
}

.site-nav__item:not(:last-child),
.login-nav:not(:first-child) {
  margin-bottom: 32px;
}

.site-nav__link--current {
  color: var(--current-active);
}

.login {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

.login-nav__link {
  @include flex(flex, center, null);
  @include font(500, 24px, 1.166, 0.02em);
  color: var(--secondary-grey);
  &:hover,
  &:hover {
    color: var(--current-active);
  }
}

.login-nav__link--current {
  @include font(500, 34px, 1.176, 0.02em);
  color: var(--current-active);
}

.login-nav__icon {
  display: none;
}

.social {
  @include flex(flex, center, flex-start);
  gap: 20px;
}

.social-nav {
  position: relative;
}

.social-nav__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--current-active);
}

.social-nav:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -22px;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.site-nav {
  border: 1px solid red;
}